html, body
{
  text-align: left;
  background-color: #6699ff;
  height: 100%;
}
 
#header
{
  position: relative;
  width: 730px;
  height: 150px;
  margin-left: 10px;
  margin-right: 21px;
  background: url(../images/skytower.jpg);
}
 
#page
{
  margin: 0 auto 0 auto;
  display: table;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: #6699ff;
  width: 730px;
}
 
.title
{
  position: relative;
  left: 30px;
  top: 22px;
  text-align: left;
  font-family: Georgia, Helvetica, Times, serif;
  font-size: 32px;
  font-weight: bold;
  color: #0000ff;
}
 
#bar
{
  position: relative;
  width: 640px;
  height: 57px;
  margin-left: 55px;
  margin-right: 10px;
  align-content: center;
}
 
.menulink
{
  height: 37px;
  width: 150px;
  text-align: center;
  float:  inherit;
  font-family: Geneva, Arial, Helvetica, Sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: blue;
  padding-top: 1px;
  background-color: #f2f2f2
}
 
.menulink a
{
  color: #0000ff;
}
 
.menulink a:hover
{
  color: #6699ff;
}
 
a
{
  text-decoration: none;
  color: #252F33;
}
 
#pageContent
{
  height: auto;
  width: 730px;
  padding-bottom: 10px;
  padding-left: 5px;
}
 
.articleTitle
{
  text-align: left;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 0px;
  font-family: Verdana, Arial, Helvetica, Sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #cc3300;
  width: 730px;
}
 
#ColumnSeparator1 {
    font-family: Verdana, Arial, Helvetica, Sans-serif;
    font-size: 16px;
    font-weight: bold;
    float:left;
    width: 340px;
    color: #ffff00;
}
 
#ColumnSeparator2 {
    font-family: Verdana, Arial, Helvetica, Sans-serif;
    font-size: 16px;
    font-weight: bold;
    float:right;
    width: 390px;
    color: #ffff00;
}
 
#footer
{
  width: 730px;
  height: 30px;
  text-align: center;
  font-size: 14px;
  color: #0000ff;
  padding-top: 32px;
  padding-left: 50px;
}
 
p
{
  width: 730px;
  padding-left: 5px;
  text-align: justify;
  font-family: Georgia, Arial, Helvetica, Sans-serif;
}
 
ul
{
  /*width: 730px;*/
  padding-left: 15px;
  text-align: left;
  font-family: Georgia, Arial, Helvetica, Sans-serif;
}
